{
  "printWidth": 87,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderParserPlugins": ["typescript"],
  "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "", "^(@)(/.*)$"]
}
